/* Black
 ========================================================================== */
$navbar-color-black: #21222a;
$lighter-black: #2b283a;

/* White
 ========================================================================== */
$color-white: #fff;
$darker-white: #d5d4d8;
